@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Inter, sans-serif;
    font-weight: 300;
}

/* heading and logo */

h1,
h2,
h3,
span {
    font-family: Inter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #140f59;
}

#logo {
    float: left;
    font-size: 300%;
    margin: 5px 0 0 25px;
}

/* navigation bar */

#navbar {
    font-size: 120%;
    letter-spacing: 5px;
}

#logo,
#navbar {
    line-height: 75px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 1px solid #140f59;
}

.active {
    border-bottom: 1px solid #140f59;
}

/* main image and cover text */

#main-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image {
    height: 600px;
    width: 100%;
    background: url("../images/dog.jpg") no-repeat center center;
    clear: left;
    background-size: cover;
    background-position: center;


    /* Animates zoom effect on loading the page */
    animation-name: main-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* Creates the level of zoom for main image */
@keyframes main-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text,
#cover-text h2,
#cover-text h3 {
    color: #ffffff;
    text-align: center;
}

#cover-text {
    font-size: 130%;
    font-family: Inter;
    text-transform: uppercase;
    letter-spacing: 5px;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(0, 0, 0, 0.1);

    bottom: 10px;
    right: 10px;

    position: absolute;

}

/* About Us */

#about {
    height: 615px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;

}

#center-about {
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin: 27px;
}


#welcome {
    text-align: left;
    margin: 20px 0;
    font-size: 250%;
    margin-left: 100px;
}

.center-about {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin: 50px;
}

#square-container {
    width: 190%;
    height: 750px;
    padding: 0px;
    border-style: solid;
    border-color: #3a3a3a;
    border-width: 5px;
    margin: 0 auto;
}

.square-cover-bg {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin: 50px;
}


.center-about-heading h2,
h3 {
    text-align: center;

}

#square-cover-bg {
    background: url('../images/wzor-slady-psa-lub-kota-na-bialym-tle-sylwetka-wektor_148553-467.webp') no-repeat center center;
    height: 100%;
}


/* footer */

footer {
    height: 20px;

}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    margin: 0 auto;
    padding: 5%;
    color: #140f59;
}


/* map */
#map-wrapper {

    height: 300px;
    margin-top: 10px;
}

#map {
    height: 95%;
    width: 100%;
    border: none;
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#photos>img {
    width: 100%;
}

/* Form */

.form-section {
    clear: left;
    background: url('../images/background.webp') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.signup-form {
    margin: 50px 10% 0 0;
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 27%;
    padding: 30px;
}

.signup-form h2,
h4 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #140f59;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #140f59;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

.join-button2 {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fafafa;
    display: block;
    width: fit-content;
}

.join-button2:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

/* Media queries */

/* Style for screens size from 1400px wide and down */
@media screen and (max-width: 1400px) {

    footer {
        margin-top: 10px;
    }
}

/* Style for screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {

    #square-container {
        margin-top: 25%;
    }
}

/* Style for screens size from 950px wide and down */
@media screen and (max-width: 950px) {

    #square-container {
        height: 950px;
    }
}

/* Style for screens size from 768px wide and down */
@media screen and (max-width: 768px) {

    #navbar {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #main-outer {
        width: 100%;
        height: 600px;
        clear: left;
        background-size: cover;
        background-position: center;
    }

    #welcome {
        margin-left: 20px;
    }

    #square-container {
        height: 1000px;
        margin-top: 55px;
    }

    

    #cover-text {

        width: 75%;
        text-align: justify;
        margin-bottom: 0px;
    }

}

/* Style for screens size 416px wide and down */
@media screen and (max-width:416px) {

#logo {
    margin-left: 7px;
    display: inline-block;

}

#navbar {
    clear: left;
    float: left;
    margin-left: 7px;
    margin-bottom: 20px;
    line-height: 25px;
}

#main-outer {
    width: 100%;
    height: 600px;
    clear: left;
    background-size: cover;
    background-position: center;
}

#left-about {
    width: 100%;
    float: left;
    padding: 0 ;
}

.left-about-heading {
    margin-right: 75px;
}

#center-about {
    height: 100%;
    width: 50%;
    margin-top: 740px;
    
}

#square-container {
    height: 200px;
   width: 200px;
}

.social-networks i {
    font-size: 120%;
}

}