@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Noto+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body { 
    font-family: Inter, sans-serif;
    font-weight: 300;
}

/* heading and logo */

h1, h2, h3, span {
    font-family: Inter, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #140f59;
}

#logo {
    float: left;
    font-size: 300%;
    margin: 5px 0 0 25px;
}

/* navigation bar */

#navbar {
    font-size: 120%;
    letter-spacing: 5px;
}

#logo, #navbar {
    line-height: 75px;
}

#navbar li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 1px solid #140f59;
}

.active {
    border-bottom: 1px solid #140f59;
}

/* main image and cover text */

#main-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#main-image{
    height: 600px;
    width: 100%;
    background: url("../images/dog.jpg") no-repeat center center;

  /* Animates zoom effect on loading the page */
  animation-name: main-zoom;
  animation-duration: 10s;
  animation-fill-mode: forwards;
}

/* Creates the level of zoom for main image */
@keyframes main-zoom {
  from{
      transform: scale(1);
  }
  to{
      transform: scale(1.1);
  }
}

#cover-text, #cover-text h2, #cover-text h3 {
  color: #ffffff;
  text-align: justify;
}

#cover-text {
  font-size: 130%;
  font-family: Inter;
  text-transform: uppercase;
  letter-spacing: 5px;

  width: 600px;
  height: 150px;

  padding-top: 75px;
  padding-left: 10px;

  background-color: rgba(0, 0, 0, 0.1);

  bottom: 10px;
  right: 10px;

  position: absolute;

}

/* About Us */

#about {
    height: 615px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;

}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;

}

#center-about {
    width: 33%;
    margin: 0 auto;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin: 27px;
}


#welcome {
    text-align: left;
    margin: 20px 0;
    font-size: 250%;
    margin-left: 100px;
}

.center-about {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin: 50px;
}

#square-container {
    width: 150%;
    height: 600px;
    padding: 0px;
    border-style: solid;
    border-color: #3a3a3a;
    border-width: 5px;
    margin: 0 auto;
}

.square-cover-bg {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin: 50px;
}


.center-about-heading h2,
h3 {
    text-align: center;

}

#square-cover-bg {
    background: url('../images/wzor-slady-psa-lub-kota-na-bialym-tle-sylwetka-wektor_148553-467.webp') no-repeat center center;
    height: 100%;
}


/* footer */

footer {
    height: 50px;
    
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 200%;
    margin: 0 auto;
    padding: 5%;
    color: #140f59;
}


/* map */
#map-wrapper {

    height: 300px;
    margin-bottom: 10px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}
